@import "tailwindcss";

@theme {
    --color-blue-50: #eff8ff;
	--color-blue-100: #def0ff;
	--color-blue-200: #b6e4ff;
	--color-blue-300: #76cfff;
	--color-blue-400: #2db7ff;
	--color-blue-500: #029ff5;
	--color-blue-600: #007dd2;
	--color-blue-700: #0064aa;
	--color-blue-800: #005790;
	--color-blue-900: #074673;
	--color-blue-950: #042d4d;
}

/* Comino Web Custom Colors - Venice Blue Palette */
:root {
	/* Primary color er venice-blue-800 */
	--color-primary: var(--color-blue-800);
	--color-primary-hover: var(--color-blue-900);
}